.myButton{
    width: 100%;
    background-color: #00b894;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.Menu{
    width: 50%;
    position: absolute;
    left: 25%;
    top: 120px;
}
.Menu h2{
    width: 100%;
    background: #333333;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
    text-align: center;
}
.myForm{
    background-color: #dfe6e9;
    border-radius: 5px;
    padding: 20px;
}

.formField{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.myButton{
    width: 100%;
    background-color: #00b894;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

